Buoi2/2/nhansu.dtd

<!ELEMENT congty (dep:phongban+)>
<!ATTLIST congty 
    xmlns:hr CDATA #REQUIRED
    xmlns:dep CDATA #REQUIRED>

<!ELEMENT dep:phongban (hr:nhansu+)>
<!ATTLIST dep:phongban 
    name CDATA #REQUIRED>

<!ELEMENT hr:nhansu (hr:manv, hr:tennv, hr:chucvu)>

<!ELEMENT hr:manv (#PCDATA)>
<!ELEMENT hr:tennv (#PCDATA)>
<!ELEMENT hr:chucvu (#PCDATA)>
